@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(233, 47%, 7%);
  color: white;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  height: 50%;
  background: hsl(244, 38%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
  font-size: 15px;
}

.content h1 {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.content h1 span {
  color: hsl(277, 64%, 61%);
}

.content p {
  text-align: justify;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
}

.lists {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lists ul {
  list-style: none;
}

.lists ul li:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-size: 35px;
}

.lists ul li:nth-child(2) {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

.main-container .main-img {
  width: 50%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}

.main-container .main-img img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 0px 10px 10px 0px;
}
